**Sentiment Analysis of IMDB Movie Reviews**

**problem statement**:-In this, we have to predict the number of positive and negative reviews based on sentiments by using nlp and different classification models.

**Import necessary libraries**

In [1]:
#Load the libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import nltk
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
df=pd.read_csv('IMDB Dataset.csv')

In [3]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [4]:
# One review
df['review'][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

## Text Cleaning

1. Sample 10000 rows
2. Remove html tags
3. Remove special characters
4. Converting every thing to lower case
5. Removing Stop words
6. Stemming

In [5]:
df=df.sample(10000)

In [6]:
df.shape

(10000, 2)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 34388 to 19029
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     10000 non-null  object
 1   sentiment  10000 non-null  object
dtypes: object(2)
memory usage: 234.4+ KB

In [8]:
df['sentiment'].replace({'positive':1,'negative':0},inplace=True)

In [9]:
df.head()

                                                  review  sentiment
34388  I rented this movie because it falls under the...          0
26695  I am surprised that this, well above average 8...          1
9175   I have a friend that works at blockbuster, and...          0
17553  I loved this film because in my mind it seemed...          1
19755  This is a Very Very VERY bad movie !<br /><br ...          0

In [10]:
import re
clean = re.compile('<.*?>')
re.sub(clean, '', df.iloc[2].review)

'I have a friend that works at blockbuster, and he gets 5 free movie rentals a week, so one day as we were scouring the aisles for something interesting, i stumbled across 18 Weapons of Kung Fu, and judging by the box alone, this movie seemed pretty wack, but nonetheless we gave into temptation and rented it -- afterall, it was free.....and thank god it was....this is by far THE WORST movie i have ever seen....the budget must have been a pickle and a piece of string...the plot was ridiculous, the only mention of the "18 weapons" is that there is some book that teaches the ways of the 18 weapons that some bad guy is after -- and thats it! there isnt even any weapon fighting in this movie...that and the action sequences are just flat-out BAD....9 times out of 10 the other guy\'s punches and kicks come about a foot away from landing on the other guy\'s, and there are MANY times when the the movie will skip frames (a result of ridiculously poor editing)....the dubbing is as well laughable, and it is hardly even understandable....and we wont even get into the acting...the ending will definitely leave you saying "wtf??", however to be fair i must mention that the fighting techniques used by the actors were somewhat decent, and the old guy is a mad chump....but thats about it...thankfully i didnt have to pay for this movie, but i guess at least now i know exactly how bad a movie can actually be....'

In [11]:
# Function to clean html tags
def clean_html(text):
    clean = re.compile('<.*?>')
    return re.sub(clean, '', text)

In [12]:
df['review']=df['review'].apply(clean_html)

In [13]:
# converting everything to lower

def convert_lower(text):
    return text.lower()

In [14]:
df['review']=df['review'].apply(convert_lower)

In [15]:
# function to remove special characters

def remove_special(text):
    x=''
    
    for i in text:
        if i.isalnum():
            x=x+i
        else:
            x=x + ' '
    return x

In [16]:
remove_special(' th%e @ classic use of the word.it is called oz as that is the nickname given to the oswald maximum security state penitentary. it focuses mainly on emerald city, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. em city is home to many..aryans, muslims, gangstas, latinos, christians, italians, irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.i would say the main appeal of the show is due to the fact that it goes where other shows wouldnt dare. forget pretty pictures painted for mainstream audiences, f')

' th e   classic use of the word it is called oz as that is the nickname given to the oswald maximum security state penitentary  it focuses mainly on emerald city  an experimental section of the prison where all the cells have glass fronts and face inwards  so privacy is not high on the agenda  em city is home to many  aryans  muslims  gangstas  latinos  christians  italians  irish and more    so scuffles  death stares  dodgy dealings and shady agreements are never far away i would say the main appeal of the show is due to the fact that it goes where other shows wouldnt dare  forget pretty pictures painted for mainstream audiences  f'

In [17]:
df['review']=df['review'].apply(remove_special)

In [18]:
# Remove the stop words
import nltk

In [19]:
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [20]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [21]:
df

                                                  review  sentiment
34388  i rented this movie because it falls under the...          0
26695  i am surprised that this  well above average 8...          1
9175   i have a friend that works at blockbuster  and...          0
17553  i loved this film because in my mind it seemed...          1
19755  this is a very very very bad movie  the plot i...          0
...                                                  ...        ...
6256   race car drivers say that 100 mph seems fast t...          0
10844  i first saw this one afternoon in the 80 s on ...          1
23274  this is of of sammo s great early comedy films...          1
24067  what more could anyone want  he s a history le...          1
19029  an excellent thriller of all time  vijay anand...          1

[10000 rows x 2 columns]

In [22]:

def remove_stopwords(text):
    x=[]
    for i in text.split():
        
        if i not in stopwords.words('english'):
            x.append(i)
    y=x[:]
    x.clear()
    return y

In [23]:
df['review']=df['review'].apply(remove_stopwords)

In [24]:
df

                                                  review  sentiment
34388  [rented, movie, falls, genres, romance, wester...          0
26695  [surprised, well, average, 80, comedy, scores,...          1
9175   [friend, works, blockbuster, gets, 5, free, mo...          0
17553  [loved, film, mind, seemed, perfectly, capture...          1
19755  [bad, movie, plot, weak, acting, bad, science,...          0
...                                                  ...        ...
6256   [race, car, drivers, say, 100, mph, seems, fas...          0
10844  [first, saw, one, afternoon, 80, network, v, t...          1
23274  [sammo, great, early, comedy, films, parody, e...          1
24067  [could, anyone, want, history, lesson, foreign...          1
19029  [excellent, thriller, time, vijay, anand, exce...          1

[10000 rows x 2 columns]

In [25]:
# Perform stemming

from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [26]:
y=[]
def stem_words(text):
    for i in text:
        y.append(ps.stem(i))
    z=y[:]
    y.clear()
    return z

In [27]:
stem_words(['I','loved','loving','it'])

['i', 'love', 'love', 'it']

In [28]:
df['review']=df['review'].apply(stem_words)

In [29]:
df

                                                  review  sentiment
34388  [rent, movi, fall, genr, romanc, western, gran...          0
26695  [surpris, well, averag, 80, comedi, score, 5, ...          1
9175   [friend, work, blockbust, get, 5, free, movi, ...          0
17553  [love, film, mind, seem, perfectli, captur, im...          1
19755  [bad, movi, plot, weak, act, bad, scienc, wors...          0
...                                                  ...        ...
6256   [race, car, driver, say, 100, mph, seem, fast,...          0
10844  [first, saw, one, afternoon, 80, network, v, t...          1
23274  [sammo, great, earli, comedi, film, parodi, en...          1
24067  [could, anyon, want, histori, lesson, foreign,...          1
19029  [excel, thriller, time, vijay, anand, excel, d...          1

[10000 rows x 2 columns]

In [30]:
# Join back

def join_back(list_input):
    return " ".join(list_input)

In [31]:
df['review']=df['review'].apply(join_back)

In [32]:
df['review']

34388    rent movi fall genr romanc western grand canyo...
26695    surpris well averag 80 comedi score 5 2 imdb v...
9175     friend work blockbust get 5 free movi rental w...
17553    love film mind seem perfectli captur imagin li...
19755    bad movi plot weak act bad scienc wors special...
                               ...
6256     race car driver say 100 mph seem fast till dri...
10844    first saw one afternoon 80 network v think lik...
23274    sammo great earli comedi film parodi enter dra...
24067    could anyon want histori lesson foreign langua...
19029    excel thriller time vijay anand excel director...
Name: review, Length: 10000, dtype: object

In [33]:
X=df.iloc[:,0:1].values

In [34]:
X.shape

(10000, 1)

In [35]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=1000)

In [36]:
X=cv.fit_transform(df['review']).toarray()

In [37]:
X.shape

(10000, 1000)

In [38]:
X[0].mean()

0.047

In [39]:
y=df.iloc[:,-1].values

In [40]:
y.shape

(10000,)

In [41]:
# X,y
# Training set
# Test Set

In [42]:
from sklearn.model_selection import train_test_split

X_train, X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [43]:
X_train.shape

(8000, 1000)

In [44]:
X_test.shape

(2000, 1000)

In [45]:
y_train.shape

(8000,)

In [46]:
y_test.shape

(2000,)

In [47]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB

In [48]:
clf1=GaussianNB()
clf2=MultinomialNB()
clf3=BernoulliNB()

In [49]:
clf1.fit(X_train,y_train)
clf2.fit(X_train,y_train)
clf3.fit(X_train,y_train)

BernoulliNB()

In [50]:
y_pred1=clf1.predict(X_test)
y_pred2=clf2.predict(X_test)
y_pred3=clf3.predict(X_test)

In [51]:
y_test.shape

(2000,)

In [52]:
y_pred1.shape

(2000,)

In [53]:
from sklearn.metrics import accuracy_score

In [54]:
print("Gaussian",accuracy_score(y_test,y_pred1))
print("Multinomial",accuracy_score(y_test,y_pred2))
print("Bernaulli",accuracy_score(y_test,y_pred3))

Gaussian 0.7535
Multinomial 0.8425
Bernaulli 0.8415

In [55]:
from sklearn.linear_model import LogisticRegression

In [56]:
clf_lr = LogisticRegression()

In [57]:
X_train

array([[0, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [58]:
from sklearn.model_selection import cross_val_score, cross_val_predict

In [59]:
scores = cross_val_score(clf_lr, X_train, y_train, cv=10, n_jobs=4)

In [60]:
clf_lr.fit(X_train, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [61]:
y_test_pred = clf_lr.predict(X_test)

In [62]:
from sklearn.metrics import classification_report, confusion_matrix

In [63]:
print(classification_report(y_test, y_test_pred))

              precision    recall  f1-score   support

           0       0.85      0.85      0.85       992
           1       0.85      0.85      0.85      1008

    accuracy                           0.85      2000
   macro avg       0.85      0.85      0.85      2000
weighted avg       0.85      0.85      0.85      2000